In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
path = "Dataset.xlsx"

In [5]:
file = pd.ExcelFile(path)

dfs = {sheet_name: file.parse(sheet_name) 
          for sheet_name in file.sheet_names}

In [6]:
dfs.keys()

dict_keys(['Material_Data_Dict', 'Comp_Data_Dict', 'CS', 'SS(Ave)', 'SS1', 'SS2', 'FE', 'AT1', 'AT2', 'AT3', 'AT4', 'AT5', 'AT(Ave)'])

In [50]:
dfa = dfs['SS(Ave)']
dfa

,YYYY-MM,Date,BOD,COD,OP-P,NH3-N,NO2-N,NOX-N,PH,SCOD,TKN,TN,TP,TSS
0,2013/01,2013-01-01,NaN,NaN,3.6,25.0,0.46,1.1,7.4,NaN,NaN,NaN,NaN,120.0
1,2013/01,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013/01,2013-01-03,120.0,330.0,3.1,31.0,0.34,1.0,8.1,120.0,44.0,45.0,5.2,150.0
3,2013/01,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013/01,2013-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,2018/12,2018-12-27,120.0,480.0,5.1,31.0,1.00,2.6,7.3,170.0,54.0,56.0,9.4,260.0
2187,2018/12,2018-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2188,2018/12,2018-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2189,2018/12,2018-12-30,NaN,NaN,4.3,29.0,0.64,1.6,7.2,NaN,NaN,NaN,NaN,210.0
2190,2018/12,2018-12-31,NaN,NaN,4.9,30.0,1.10,2.5,7.4,NaN,NaN,NaN,NaN,370.0

In [51]:
dfb = dfs['AT(Ave)']
dfb

      YYYY-MM       Date    MLSS    SVI   SSVI  AT_Temp
0     2013/01 2013-01-01     NaN    NaN    NaN   21.350
1     2013/01 2013-01-02  2540.0  200.0   78.0   21.850
2     2013/01 2013-01-03     NaN    NaN    NaN   22.400
3     2013/01 2013-01-04  2230.0  220.0   90.0   21.975
4     2013/01 2013-01-05     NaN    NaN    NaN   21.100
...       ...        ...     ...    ...    ...      ...
2186  2018/12 2018-12-27  3430.0  260.0  110.0   23.150
2187  2018/12 2018-12-28  3330.0  260.0  110.0   21.925
2188  2018/12 2018-12-29     NaN    NaN    NaN   21.075
2189  2018/12 2018-12-30     NaN    NaN    NaN   20.700
2190  2018/12 2018-12-31  3290.0  270.0  100.0   20.700

[2191 rows x 6 columns]

In [48]:
cdf = pd.concat([dfa, dfb], axis = 1)
cdf

,YYYY-MM,Date,BOD,COD,OP-P,NH3-N,NO2-N,NOX-N,PH,SCOD,TKN,TN,TP,TSS,YYYY-MM,Date,MLSS,SVI,SSVI,AT_Temp
0,2013/01,2013-01-01,NaN,NaN,3.2,25.0,0.33,2.8,7.6,NaN,NaN,NaN,NaN,720.0,2013/01,2013-01-01,NaN,NaN,NaN,21.350
1,2013/01,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013/01,2013-01-02,2540.0,200.0,78.0,21.850
2,2013/01,2013-01-03,370.0,720.0,2.9,31.0,0.35,4.4,7.0,110.0,56.0,60.0,7.3,540.0,2013/01,2013-01-03,NaN,NaN,NaN,22.400
3,2013/01,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013/01,2013-01-04,2230.0,220.0,90.0,21.975
4,2013/01,2013-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013/01,2013-01-05,NaN,NaN,NaN,21.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,2018/12,2018-12-27,260.0,400.0,3.4,29.0,0.73,1.9,7.4,140.0,66.0,68.0,12.0,510.0,2018/12,2018-12-27,3430.0,260.0,110.0,23.150
2187,2018/12,2018-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/12,2018-12-28,3330.0,260.0,110.0,21.925
2188,2018/12,2018-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/12,2018-12-29,NaN,NaN,NaN,21.075
2189,2018/12,2018-12-30,NaN,NaN,3.6,29.0,0.18,1.0,7.4,NaN,NaN,NaN,NaN,650.0,2018/12,2018-12-30,NaN,NaN,NaN,20.700
2190,2018/12,2018-12-31,NaN,NaN,5.5,32.0,0.28,1.0,7.2,NaN,NaN,NaN,NaN,980.0,2018/12,2018-12-31,3290.0,270.0,100.0,20.700

In [78]:
class DataCleaner:
    
    def __init__(self, path):
        file = pd.ExcelFile(path)
        dfs = {sheet_name: file.parse(sheet_name) 
          for sheet_name in file.sheet_names}
        self.dfs = dfs
        colsa = ['BOD','NH3-N','PH','TN'] # ss avg columns
        colsb = ['MLSS', 'AT_Temp'] # at avg columns
        self.cdf = pd.concat([ dfs['SS(Ave)'][colsa] , dfs['AT(Ave)'][colsb] ], axis = 1)
    
    def get_bod(self):
        dfs = self.dfs
        self.bod = dfs['FE']['BOD']
        display(self.bod)
    def get_nh3(self):
        dfs = self.dfs
        self.nh3 = dfs['FE']['NH3-N']
        display(self.nh3)
    def get_tn(self):
        dfs = self.dfs
        self.tn = dfs['FE']['TN']
        display(self.tn)

In [79]:
dc = DataCleaner(path)
dc.cdf

        BOD  NH3-N   PH    TN    MLSS  AT_Temp
0       NaN   25.0  7.4   NaN     NaN   21.350
1       NaN    NaN  NaN   NaN  2540.0   21.850
2     120.0   31.0  8.1  45.0     NaN   22.400
3       NaN    NaN  NaN   NaN  2230.0   21.975
4       NaN    NaN  NaN   NaN     NaN   21.100
...     ...    ...  ...   ...     ...      ...
2186  120.0   31.0  7.3  56.0  3430.0   23.150
2187    NaN    NaN  NaN   NaN  3330.0   21.925
2188    NaN    NaN  NaN   NaN     NaN   21.075
2189    NaN   29.0  7.2   NaN     NaN   20.700
2190    NaN   30.0  7.4   NaN  3290.0   20.700

[2191 rows x 6 columns]

In [80]:
dc.get_tn()

0        9.4
1        NaN
2       11.0
3        NaN
4        NaN
        ...
2186     3.8
2187     NaN
2188     NaN
2189     NaN
2190     NaN
Name: TN, Length: 2191, dtype: float64